standard/
*.log
*.aux
*.listing
*.vrb
*.toc
*.nav
*.snm
*.bbl
*.blg
*.bib.bak
*.bib.sav
*-blx.bib
*.run.xml
*.bcf
*.out
*.fls
*_latexmk
*.synctex.gz
*.glo
*.hd
*.idx
*.ilg
*.ind
utils/
build/
*-ctan.zip
*.xdv
doc/red.pdf
doc/blue.pdf
doc/my.pdf