on:
  push:
    branches:
      - main
      - develop
  pull_request:
    branches:
      - main
      - develop

name: Build

jobs:
  build-xelatex:
    runs-on: ubuntu-latest
    steps: 
      - uses: actions/checkout@v2
        name: checkout code
      - uses: xu-cheng/texlive-action/full@v1
        with:
          run: |
            .github/ci/build_test_variants.sh -halt-on-error -time -quiet -xelatex
            .github/ci/gen_cover.sh -halt-on-error -time -quiet -xelatex
        name: build with XeLaTeX
      - run: cat build/build-*.log
        name: display build log
        if: ${{ failure() || success() }}
      - uses: actions/upload-artifact@v2
        with:
          path: |
            build/build-*.pdf
            build/cover.pdf
          name: build-xelatex
        name: upload build artifacts
  build-lualatex:
    runs-on: ubuntu-latest
    steps: 
      - uses: actions/checkout@v2
        name: checkout code
      - uses: xu-cheng/texlive-action/full@v1
        with:
          run: |
            .github/ci/build_test_variants.sh -halt-on-error -time -quiet -lualatex
            .github/ci/gen_cover.sh -halt-on-error -time -quiet -lualatex
        name: build with LuaLaTeX
      - run: cat build/build-*.log
        name: display build log
        if: ${{ failure() || success() }}
      - uses: actions/upload-artifact@v2
        with:
          path: |
            build/build-*.pdf
            build/cover.pdf
          name: build-lualatex
        name: upload build artifacts
  build-package:
    runs-on: ubuntu-latest
    steps: 
      - uses: actions/checkout@v2
        name: checkout code
      - uses: xu-cheng/texlive-action/full@v1
        with:
          run: |
            export diffexe="diff -U 3"
            .github/ci/build_package.sh
        name: build package with l3build
      - name: check if generated files are of latest version
        run: |
          git diff --exit-code
      - uses: actions/upload-artifact@v2
        with:
          path: src/sjtubeamer-ctan.zip
          name: sjtubeamer-ctan.zip
        name: upload build artifacts
