on:
  push:
    branches:
      - master
      - develop
  pull_request:
    branches:
      - master
      - develop

name: Build

jobs:
  build:
    runs-on: ubuntu-latest
    steps: 
      - uses: actions/checkout@v2
        name: checkout code
      - uses: xu-cheng/latex-action@v2
        with:
          root_file: main.tex
        name: build with latexmk
      - uses: actions/upload-artifact@v2
        with:
          path: main.pdf
        name: upload build artifacts
