name: Build LaTeX document
on: [push]
jobs:
  build_latex:
    runs-on: ubuntu-latest
    steps:
      - name: Set up Git repository
        uses: actions/checkout@v2
      - name: Compile LaTeX document
        uses: xu-cheng/latex-action@v2
        with:
          root_file: main.tex
          working_directory: src/
          latexmk_use_lualatex: true
      - name: Upload PDF file
        uses: actions/upload-artifact@v2
        with:
          name: PDF
          path: src/main.pdf